
h1.hero{
    color: blue;
}

aside.hero{
    color: red;
}

article[class = "heading"]{
    color: aqua;
}


/* div[title ^= "d1"]{
    color: red;
}


div[title $= "f2"]{
    color: blue;
}

p[class ~= "p1"]{
    color: blueviolet;
}


 */
