/* main > :first-child{
    color: yellow;
}

main > :last-child{
    color: blue;
}

main > :nth-child(3){
    color: blueviolet;
}

main > :nth-last-child(2){
    color: chartreuse;
} */

/*
! first-of-type
! last-of-type
! 
! nth-last-of-type 
*/

/* main > p:first-of-type{
    color: orange;
}

main > div:first-of-type{
    color: orange;
}

main > span:first-of-type{
    color: orange;
}


main > p:nth-of-type(2){
    color: orchid;
}

main > p:nth-last-of-type(1){
    color: peru;
} */


input:hover{
    border-radius: 3px;
}

button:hover{
    background-color:black;
    color: white;
}

input:focus{
    border: 1px solid orange;
    border-radius: 2.5px;
    outline: none;

}

/* div:has(.p2){
    color: red;
}

div:has(p){
    color: blue;
}

main > section:has(article){
    color: chocolate; */
/* } */
/* 
section:has(article){
    color: aquamarine;
} */


/* div:not(:has(span)){
    color: blue;
}

div:not(:has(h5)){
    color: red;
} */

div:not(:has(:is(p,span))){
    color: red;
}
