h1,h2{
    color: green;
}

#main-box{
    border-style: groove;
    height: 30px;
    width: 190px;
    border-width: 3px;
    border-color: blueviolet;
    align-content: center;
    text-align: center;
}

button{
    background-color: yellow;
    padding: 3px;
    cursor: pointer;
}



h1,h2,p,button,div{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.buy-btn{
    background: linear-gradient(white,deeppink);
    cursor: pointer;
    font-weight: bold;
}

#product-box{
    border-style: groove;
    padding: 5px;
    width: 200px;
    background-color: bisque;
}

.title{
    color: blueviolet;

}

.price{
    color: brown;
    text-decoration: dashed;

}

.desc{
    color: deeppink;

}

img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

