/* .product > h2 {
    font-size: 24px;
}

.product p{
    color: gray;
}

.product + p{
    color: red;
} */

/* Descendent Selector */
.container p{
    color: blue;
}

/* Child selector */
.container > p{
    color: green;
}

/* adjacent selector */
h2 + p{
    color: red;
}
/* General Sibling Selector  */

h2 ~ p{
    color: orange;
}

/* multiple child selector selector */

.container > section > div > p{
    color: purple;
}